body
{
    background-color: #272727;
    font-family: "Lato", sans-serif;
    text-align: justify;
    padding: 0.5vw;
}
header
{
    text-transform: uppercase;
    font-size: 1vw;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 8px;
    border: #ffffff3b solid;
    border-left: #00000000;
    border-right: #00000000;
    border-top: #00000000;
}
h1{
    text-align: center;
    font-size: 2.5vw;
}
h4
{
    color: #ffffff;
    font-size: 1.5vw;
    padding: 1vw;
    border: #ffffff3b solid;
    border-left: #00000000;
    border-right: #00000000;
    border-top: #00000000;

}
section
{
    font-size: 1.5vw;
    border-radius: 1vw;
}
div.ann1
{ 
    color: #e6e6e6;
    background-color: #ffffff21;
    border-radius: 1vw 1vw 1vw 1vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.switch01{
    float: left;
    margin-top: 20px;
    margin-left: 10vw;
    margin-bottom: 3vw;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    border: none;
    color: #ffffff;
    background-color:#ffffff2d;
    font-size: 1.2vw;
    border-radius: 0.5vw;
}
a{
    text-decoration: none;
}
.switch02{
  float: right;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-right: 10vw;
  margin-bottom: 3vw;
  padding: 1vw;
  width: 150px;
  border: none;
  color: #ffffff;
  background-color:#ffffff2d;
  font-size: 1.2vw;
  border-radius: 0.5vw;
}   
