body {
  font-family: "Open Sans", helvetica, arial;
  text-align: justify center;
  background-color: rgb(22, 22, 22);
   margin: 1vw;
   color: #fff;
  border-radius: 1vw;
  padding: 3vw;
  background-repeat: no-repeat;
    }


    input , textarea{
      height: 30px;
      width: 300px;
    }
    .radio{
      width:20px;
     }
  
    form{
      background-color: #ffffff34;
      padding: 2px;
      margin: auto;
    }
   table{
    padding: 1vw;
    margin: auto;
    border-collapse: collapse;
    background-color: rgba(15, 15, 15, 0.836);
    font-size: 14px;
    }


    .wrapper {
      text-align: center;
  }
    

   table tr {
    padding: 4px;
    }
   table th {
    padding: 1vw;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5vw;  
   }
   table td {
    padding: 1vw 1vw 1vw 1vw;
    font-size: 1.5vw;
      }
   table tr:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.103);
   }
    
   .css-serial {
    counter-reset: serial-number;
   }
   .css-serial td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
   }
 

  h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }


.sep{
    float:left;
    margin-left: 10vw;
    border: solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    width: 15vw;
    height: 14vw;
    border-radius: 1vw;
    margin-bottom:2vw;

  }
  .sepe{
    margin-right: 10vw;
    float:right;
    border: solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    width: 15vw;
    height: 14vw;
    border-radius: 1vw;
    margin-bottom:2vw;

  }
  .da{
    font-size: 1vw;
    width: 180px;
  }

  .edate{
    display: inline-block;
    font-size: 1.5vw;
    margin-left: 6vw;
    margin-top: 6vw;
  }
  .d{
    margin-left: 60vw;
  }
 .photo{
    padding:4vw 0 0 1vw;
    font-size: 0.8vw;
  }
  p{
  margin-left:20%;
  float:left;
  display:block;
  }


.switch01{
  float: left;
  margin-top: 20px;
  margin-left: 10vw;
  margin-bottom: 3vw;
  padding: 13px;
  text-decoration: none;
  text-align: center;
  width: 150px;
  border: none;
  color: #ffffff;
  background-color:#ffffff2d;
  font-size: 1.2vw;
  border-radius: 0.5vw;
}
a{
  text-decoration: none;
}
.switch02{
float: right;
text-decoration: none;
text-align: center;
margin-top: 20px;
margin-right: 10vw;
margin-bottom: 3vw;
padding: 1vw;
width: 150px;
border: none;
color: #ffffff;
background-color:#ffffff2d;
font-size: 1.2vw;
border-radius: 0.5vw;
}   



.submit
{
  margin-left: 40.5vw;
  margin-top: 1vw;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 10vw;
  border: none;
  color: #ffffff;
  background-color:#5d5d5d;
  font-size: 1.2vw;
  border-radius: 0.5vw;
}
.Switch,.contain{
  margin: 2vw;
  height: 15vw;
}
