body {
  font-family: "Open Sans", helvetica, arial;
  text-align: justify center;
  background: -webkit-radial-gradient(rgb(59, 59, 216) 20%, #ffffff 100%);   
   margin: 1vw;
  border-radius: 1vw;
  padding: 3vw;
  background-repeat: no-repeat;
    }
   table{
    padding: 1vw;
    margin: auto;
    width: "100%";
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    }


    .wrapper {
      text-align: center;
  }
    

   table tr {
    padding: 4px;
    }
   table th {
    padding: 1vw;
    background: rgb(86, 93, 160);
    color: #fff;
    font-weight: bold;
    font-size: 1.5vw;     
   }
   table td, th {
    padding: 1vw 1vw 1vw 1vw;
    border: 0.1vw solid  rgb(236, 237, 248);
    font-size: 1.5vw;
   }
   table tr:nth-of-type(even) {
    background: #eee;
   }
    
   .css-serial {
    counter-reset: serial-number;
   }
   .css-serial td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
   }
 

  h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }


.sep{
    float:left;
    margin-left: 10vw;
    border: solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    width: 15vw;
    height: 14vw;
    border-radius: 1vw;
    margin-bottom:2vw;

  }
  .sepe{
    margin-right: 10vw;
    float:right;
    border: solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    width: 15vw;
    height: 14vw;
    border-radius: 1vw;
    margin-bottom:2vw;

  }
  .da{
    font-size: 1vw;
  }

  .edate{
    display: inline-block;
    font-size: 1.5vw;
    margin-left: 6vw;
    margin-top: 6vw;
  }
  .d{
    margin-left: 60vw;
  }
 .photo{
    padding:4vw 0 0 1vw;
    font-size: 0.8vw;
  }
  p{
  margin-left:20%;
  float:left;
  display:block;
  }

@media only screen and (max-width: 1080px) {

table td,th {
padding: 1vw 1vw 1vw 1vw;
border: 1px solid rgb(255, 255, 255);
font-size: 2.5vw;
width: 50vw;
}
table .unique{
width: 1vw;
}
}

.switch01{
  float: left;
  margin-left: 10vw;
  margin-bottom: 3vw;
  padding: 1vw;
  text-decoration: none;
  text-align: center;
  width: 10vw;
  border: none;
  color: #ffffff;
  background-color:#5b71d3;
  font-size: 1.2vw;
  border-radius: 0.5vw;
}

.switch02{
float: right;
text-decoration: none;
text-align: center;
margin-right: 10vw;
margin-bottom: 3vw;
padding: 1vw;
width: 10vw;
border: none;
color: #ffffff;
background-color:#5b71d3;
font-size: 1.2vw;
border-radius: 0.5vw;
}   
a{
  text-decoration: none;
}

.submit
{
  margin-left: 40.5vw;
  margin-top: 1vw;
  text-decoration: none;
  text-align: center;
  padding: 1vw;
  width: 10vw;
  border: none;
  color: #ffffff;
  background-color:#8b8b8b;
  font-size: 1.2vw;
  border-radius: 0.5vw;
}
.Switch,.contain{
  margin: 2vw;
  height: 15vw;
}